.navbar {
    width: 1300px;
    height: 70px;
    padding-inline: 24px;
    border: solid 1px gray;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 16px;
}
.container-logo {
    display: flex;
    gap: 10px;
}
.navbar-logo__link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.navbar-logo__link:hover {
    scale: 1.1;
}
.logo {
    width: 50px;
    height: 50px;
}
.text-logo {
    font-weight: 400;
    color: #262522;
}
.text-logo__span {
    font-weight: 700;
    color: #262522;
}
.navbar-list {
    display: flex;
}
.navbar-list__ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
.navbar-list__li {
    text-decoration: none;
}
.navbar-list__link {
    text-decoration: none;
    color: #262522;
    padding: 8px;
}

.navbar-list__link:hover {
    font-weight: 600;
    border-bottom: solid 2px #ee6352;
}

/* El estilo que tiene el imput sera el del icono*/
.content-search {
    display: flex;
    gap: 20px;
}
.input {
    background-color: rgba(38, 37, 34, 0.08);
    border: none;
    border-radius: 10px;
    padding-inline: 10px;
}
.content-icon {
    display: flex;
    height: 37px;
    width: 37px;
    background-color: rgba(38, 37, 34, 0.08);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon {
    height: 21px;
    width: 21px;
    color: #262522;
    cursor: pointer;
}

.content-icon:hover {
    background-color: #262522;
    cursor: pointer;
}

.content-icon:hover .icon {
    color: rgba(255, 255, 255, 0.8);
}
